.rank-list {
    float: right;
    width: 320px;
}

.rank-header {
    align-items: center;
    margin-bottom: 16px;
    height: 36px;
}


.rank-header .name {
    display: inline-block;
    color: #212121;
    vertical-align: bottom;
    font-size: 20px;
    line-height: 28px;
}


.rank-header .more {
    margin-right: 20px;
    float: right;
    align-items: center;
    padding: 0 0 0 12px;
    width: 58px;
    height: 22px;
    border: 1px solid silver;
    border-radius: 2px;
    color: #505050;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    transition: all .2s;
}

.rank-wrap {
    height: 40px;
    font-weight: 500;
}

.rank-list .rank-wrap:nth-of-type(1){
    height: 70px;
    font-weight: 500;
}


.rank-wrap .number {
    vertical-align: top;
    font-size: 14px;
    color: #999;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
}

.rank-wrap .number.on {
    color: #fff;
    background: #00a1d6;
}

.rank-wrap .preview {
    display: inline-block;
    position: relative;
    width: 290px;
}   

.rank-wrap .preview .pic {
    display: inline-block;
    position: relative;
}

.rank-wrap .link {
    display: inline-block;
}

.rank-wrap .preview img {
    width: 112px;
    height: 63px;
    border-radius: 2px;
}

.rank-wrap .preview .txt {
    width: 160px;
    display: inline-block;
    margin-left: 12px;
}   

/* .rank-wrap .preview .txt p {
    text-overflow: ellipsis;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin-bottom: 5px;
} */

.topTitle{
    text-overflow: ellipsis;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin-bottom: 5px;
}

.rank-wrap .preview .txt span {
    color: #999;
}

.rank-wrap .title {
    color:black;
    width: 290px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}